.header {
  padding: 20px 0;
  background-color: #171718;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    transition: opacity 0.2s ease-in-out;
  }

  &__content.fade {
    opacity: 1;
  }

  &__title {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);

    span {
      font-weight: 400;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &-link {
      font-family: 'Poppins', serif;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      border-bottom: 3px solid transparent;

      &--active {
        border-bottom: 3px solid #5c62ec;
      }

      &:hover {
        border-bottom: 3px solid #5c62ec;
        opacity: 0.6;
      }
    }
  }

  .dark-mode-btn {
    display: flex;
    justify-content: center;
    width: 51px;
    height: 26px;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 5px;
    z-index: 1;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header {
    &__content {
      column-gap: 5px;
    }
    &__title {
      font-size: 20px;
    }

    &__nav {
      gap: 15px;
    }

    &__nav-link {
      font-size: 13px;
    }
  }
}

@media (max-width: 700px) {
  .header {
    &__content {
      column-gap: 5px;
    }
    &__title {
      font-size: 20px;
    }

    &__nav {
      gap: 15px;
    }

    &__nav-link {
      font-size: 13px;
    }
  }
}

@media (max-width: 450px) {
  .header {
    &__content {
      column-gap: 5px;
    }
    &__title {
      font-size: 15px;
    }

    &__nav {
      gap: 5px;
    }

    &__nav-link {
      font-size: 10px;
    }
  }
}
